#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

button:hover {
  cursor: pointer;
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
  justify-content: center;
  align-items: center;
}


.status, .restart {
  margin-top: 10px;
}

/** button styles **/
.restart {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.restart:active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.restart:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.restart:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}

@media screen and (max-width:350px){
  .square{
    height: 50px;
    width: 50px;
  }
}